.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/

assets/components/bootstrap/*
!assets/components/bootstrap/dist/*
assets/components/jquery/*
!assets/components/jquery/dist/*
assets/components/popper.js/dist/*
!assets/components/popper.js/dist/umd/*

.bowerrc
.editorconfig
.travis.yml
DCO.txt
bower.json
build-release.sh
composer.json
phpdoc.dist.xml